<h2>User info</h2>
        <p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
        <table class="table">
          <p class="profile-name">name: <%= @user.name %></p>
          <p class="introduction">introduction: <%= @user.introduction %></p>
           <% if @user.id == current_user.id %>
            <p><%= link_to "Edit", edit_user_path(@user) %></p>
           <% end %>